{% load static %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

  <title>
    Giftos
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css1/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css1/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css1/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{% url 'index' %}">
          <span>
            Giftos
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'shop' %}">
                Shop
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'why' %}">
                Why Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'testimonial' %}">
                Testimonial
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart' %}">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <div class="user_option">
            {% if request.session.name %}
            <a href="">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                {{ request.session.name }}
              </span>
            </a>
            <a href="{% url 'login' %}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span>
                Logout
              </span>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login
              </span>
            </a>
            <a href="{% url 'regis' %}">
              <i class="fa fa-vcard" aria-hidden="true"></i>
              <span>
                Register
              </span>
            </a>
            {% endif %}
            <a href="">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
            <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->